.advantages-section {
  @extend .lw-section-offset;
  padding-bottom: 60px;
  background-color: var(--bg-gray);

  .lw-subtitle {
    span {
      color: var(--dark);
    }
  }

  &__list {
    @extend .list-reset;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;

    @include m-b-down(1140px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-down(640px) {
      grid-template-columns: 1fr;
    }

    li {
      @extend .flex-centered-content;
      font-weight: 600;
      font-size: 20px;
      padding: 20px;
      min-height: 260px;
      text-align: center;
      background-color: var(--light);
      color: var(--dark);

      @include m-b-down(640px) {
        min-height: 200px;
      }

      transition: background-color var(--main-transition), color var(--main-transition);

      &:hover,
      &:focus {
        background-color: var(--accent) !important;
        color: var(--white) !important;
      }
    }

    @include m-b-up(639px) {
      li:nth-child(1),
      li:nth-child(4),
      li:nth-child(5),
      li:nth-child(8) {
        background-color: var(--white);
        color: var(--dark);
      }
    }

    @include m-b-up(1141px) {
      li:nth-child(1),
      li:nth-child(8) {
        color: var(--dark);
        background-color: var(--light);
      }

      li:nth-child(2),
      li:nth-child(4),
      li:nth-child(5),
      li:nth-child(7) {
        background-color: var(--white);
        color: var(--dark);
      }
    }

    @include m-b-down(640px) {
      li:nth-child(even) {
        background-color: var(--white);
        color: var(--dark);
      }
    }
  }
}
