.intro-section {
  @extend .lw-section-offset;

  min-height: 660px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  background-image: url('../assets/img/fiz-serv.jpg');

  @include m-b-laptop-down {
    min-height: 460px;
    background-image: url('../assets/img/fiz-serv-tablet-lg.jpg');
  }

  @include m-b-tablet-lg-down {
    min-height: 400px;
    background-image: url('../assets/img/fiz-serv-tablet.jpg');
  }

  @include m-b-tablet-down {
    min-height: 360px;
    background-image: url('../assets/img/fiz-serv-mobile-lg.jpg');
  }

  @include m-b-mobile-lg-down {
    min-height: 220px;
    background-image: url('../assets/img/fiz-serv-mobile.jpg');
  }

  &__container {
    display: flex;
    flex-direction: column;
    min-height: inherit;
  }

  &__content {
    margin-top: auto;

    h1 {
      font-size: 55px;
      font-weight: 700;
      letter-spacing: 0.02em;
      color: var(--white);

      @include m-b-laptop-down {
        font-size: 40px;
        margin-bottom: 10px;
      }

      @include m-b-tablet-lg-down {
        font-size: 32px;
      }

      @include m-b-mobile-lg-down {
        font-size: 20px;
      }
    }

    p {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 500;
      max-width: 980px;
      margin: 0;
      margin-bottom: 60px;
      color: var(--white);

      @include m-b-laptop-down {
        font-size: 20px;
        max-width: 720px;
        margin-bottom: 30px;
      }

      @include m-b-tablet-lg-down {
        font-size: 20px;
        max-width: 720px;
      }

      @include m-b-tablet-lg-down {
        font-size: 18px;
        max-width: 600px;
      }

      @include m-b-mobile-lg-down {
        font-size: 12px;
        max-width: 480px;
        margin-bottom: 10px;
      }
    }

    button {
      font-size: 20px;
      text-transform: uppercase;
      width: 100%;
      padding: 25px;
      max-width: 360px;
      letter-spacing: 0.02em;
      margin-bottom: 50px;
      margin-left: 13px;

      @include m-b-laptop-down {
        padding: 20px;
      }

      @include m-b-tablet-lg-down {
        padding: 15px;
        font-size: 18px;
        max-width: 280px;
      }

      @include m-b-tablet-lg-down {
        font-size: 16px;
        margin: 0;
        margin-bottom: 25px;
        &::before {
          display: none;
        }
      }

      @include m-b-mobile-lg-down {
        padding: 10px;
        font-size: 16px;
        min-height: 40px;
        max-width: 240px;
        margin-bottom: 10px;
      }
    }
  }
}
