.bordered-banner {
  &__content {
    border: 5px solid var(--accent);
  }



  &__content {

    p {
      font-weight: 700;
      font-size: 48px;
      max-width: 660px;
      text-align: center;
      margin: 0 auto;
      padding: 80px 0;
      color: var(--accent);

      @include m-b-tablet-lg-down {
        padding: 60px;
        font-size: 36px;
      }

      @include m-b-tablet-down {
        font-size: 32px;
        padding: 30px;
      }

      @include m-b-mobile-lg-down {
        font-size: 28px;
      }

      @include m-b-down(480px) {
        font-size: 24px;
      }

      @include m-b-down(420px) {
        font-size: 20px;
        padding: 20px;
      }
    }

    &--italic {
      padding: 25px;
      p:first-of-type {
        text-transform: uppercase;
      }
      p {
        font-style: italic;
        font-size: 26px;
        padding: 15px 0;

        @include m-b-tablet-down {
          font-size: 24px;
          padding: px;
        }

        @include m-b-mobile-lg-down {
          font-size: 22px;
        }

        @include m-b-down(480px) {
          font-size: 20px;
        }

        @include m-b-down(420px) {
          font-size: 18px;
        }
      }
    }
  }
}
