.footer-nav {
  &__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    max-width: 540px;
    margin: 0 auto;

    @include m-b-tablet-down {
      margin: 0;
    }
  }

  &__list-item {
    padding-right: 15px;
    a {
      display: flex;
      align-items: center;

      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px;
      color: var(--white);

      @extend .hover-opacity;
    }
  }
}
