.footer-nav {
  &__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  &__list-item {
    outline: 1px solid red;

    a {
      display: flex;
      align-items: center;

      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px;
      color: var(--white);

      @extend .hover-opacity;
    }
  }
}
