.header-contacts {
  margin-right: 30px;

  @include m-b-down(1140px) {
    margin-right: 20px;
  }

  @include m-b-laptop-down {
    display: none;
  }

  @extend .flex-wrap;
  &__field:not(:last-child) {
    margin-right: 30px;

    @include m-b-down(1140px) {
      margin-right: 20px;
    }
  }
  &__field a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;

    color:var(--accent);

    @include m-b-down(1140px) {
      font-size: 12px;
    }

    svg {
      fill: var(--accent);
      margin-right: 10px;
    }
  }
}
