.header {
  &__top {
    background-color: var(--accent);

    @include m-b-laptop-down {
      display: none;
    }
  }

  &__middle {
    &-container {
      @extend .flex-wrap;
      align-items: center;
    }

    padding: 20px 0;
    background-color: var(--white);

    .burger {
      display: none;
      background-color: transparent;

      @include m-b-laptop-down {
        display: flex;
      }
    }

    @include m-b-laptop-down {
      padding: 10px 0;
      background-color: var(--light);
    }
  }

  &__bottom {
    background-color: var(--light);

    &-container {
      @extend .flex-wrap;
      align-items: center;
    }

    @include m-b-laptop-down {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;

    @include m-b-laptop-down {
      margin: 0;
    }
  }
}
