.header {
  &__top {
    background-color: var(--accent);

    @include m-b-laptop-down {
      display: none;
    }

    .head-nav {
      &__list-item--multilevel a {
        &::after {
          display: none;
        }
      }
    }
  }

  &__middle {
    &-container {
      @extend .flex-wrap;
      align-items: center;
    }

    padding: 20px 0;
    background-color: var(--white);

    .burger {
      display: none;
      margin-left: auto;
      background-color: transparent;

      @include m-b-laptop-down {
        display: flex;
      }
    }

    @include m-b-laptop-down {
      padding: 10px 0;
      background-color: var(--light);
    }
  }

  &__bottom {
    background-color: var(--light);

    &-container {
      @extend .flex-wrap;
      align-items: center;
    }

    @include m-b-laptop-down {
      display: none;
    }
  }

  &__logo {
    margin-right: auto;

    @include m-b-laptop-down {
      margin: 0;
    }

    @include m-b-mobile-lg-down {
      display: none;
    }
  }

  .social {
    @include m-b-laptop-down {
      margin: 0 auto;
    }

    @include m-b-mobile-lg-down {
      margin: 0;
    }

    &__list {
      @include m-b-laptop-down {
        padding: 0 30px;
      }

      @include m-b-mobile-lg-down {
        padding: 0;
      }
    }
  }
}
