.main-nav {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--accent);

  z-index: 101;

  &.active {
    display: block;

    .main-nav__section {
      opacity: 1;
      &:nth-of-type(2) {
        transform: translateX(0);
      }

      &:nth-of-type(3) {
        transform: translateX(0);
      }
    }
  }

  &__container {
    position: relative;
    max-width: 1920px;
    padding: 0;
    display: flex;

    @include m-b-desktop-lg-up {
      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        width: 50vw;
        height: 100%;
        background-color: var(--white);
      }
    }
  }

  &-back {
    display: none;

    @extend .btn-reset;
    @extend .flex-centered-content;

    position: relative;
    width: fit-content;
    min-width: 40px;
    height: 40px;
    margin-left: auto;
    z-index: 102;

    svg {
      fill: var(--accent);
      transform: rotate(180deg);
    }

    @include m-b-laptop-down {
      display: flex;
    }
  }

  &-closer {
    @extend .btn-reset;
    @extend .flex-centered-content;

    width: fit-content;
    min-width: 40px;
    height: 40px;

    margin-left: auto;
    z-index: 105;
    &--mobile {
      display: none;
      position: relative;

      svg {
        fill: var(--white);
      }

      @include m-b-laptop-down {
        display: flex;
      }
    }

    &--desktop {
      position: absolute;
      top: 10px;
      right: 20px;

      svg {
        fill: var(--accent);
      }

      @include m-b-laptop-down {
        display: none;
      }
    }
  }

  &__section {
    @extend .flex-column;

    width: calc(100% / 3);
    height: 100vh;
    min-height: 100vh;
    padding: 30px;

    overflow: hidden;
    overflow-y: auto;

    @include m-b-laptop-up {
    }

    @include m-b-laptop-down {
      width: 100%;
    }

    @include m-b-tablet-down {
      padding: 30px 10px;
    }

    &--blue {
      background-color: var(--accent);
      z-index: 3;

      .main-nav__list-item a {
        @include m-b-tablet-up {
          @include hover-bordered(var(--white));
        }
      }
    }

    &--gray {
      background-color: var(--light);
      z-index: 2;
    }

    &--white {
      background-color: var(--white);
      z-index: 1;
    }

    &--gray,
    &--white {

      @include m-b-laptop-down {
        position: absolute;
        top: 0;
        left: 0;
      }
      .main-nav__list-item {
        a {
          color: var(--accent);
        }
      }

      .main-nav-inner-list-opener {
        &::after {
          border-color: var(--accent);
        }
      }
    }

    &-header {
      display: flex;
      min-height: 120px;
      margin-bottom: 40px;

      padding-top: 20px;

      @include m-b-mobile-lg-down {
        margin-bottom: 20px;
      }

      & > span {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;

        padding-right: 25px;
        max-width: 720px;

        color: var(--accent);

        @include m-b-mobile-lg-down {
          font-size: 18px;
        }
      }
    }

    &-body {
      @extend .flex-column;
      flex-grow: 1;

      .head-nav {
        &__list {
          @extend .flex-column;
          margin: 0;
          margin-bottom: 30px;

          &-item {
            a {
              font-size: 14px;
              font-weight: 500;
              padding: 5px 0;
              width: fit-content;
              text-transform: initial;
              color: var(--white);
            }
          }
        }

        &__inner-list {
          display: block;
          position: static;
          background-color: transparent;
        }
      }

      .header-contacts {
        display: flex !important;
        margin-top: auto;

        &__field {
          a {
            color: var(--white);
          }

          svg {
            fill: var(--white);
          }

          margin-bottom: 20px;
        }
      }
    }
  }

  &__list {
    @extend .list-reset;
    margin-bottom: 20px;
  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: center;

    a {
      @extend .flex-wrap;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      padding: 5px 0;

      margin-right: 25px;
      color: var(--gray);

      @include m-b-tablet-up {
        @include hover-bordered(var(--accent));
      }

      span {
        display: inline-block;
      }

      @include m-b-mobile-lg-down {
        font-size: 14px;
      }
    }
  }

  &-inner-list-opener {
    position: relative;
    display: none;
    width: fit-content;
    min-width: 40px;
    height: 40px;
    @extend .flex-centered-content;
    @extend .btn-reset;

    margin-left: auto;

    @include m-b-laptop-down {
      display: flex;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid var(--white);
        border-right: 2px solid var(--white);
        transform: translate(-50%,-50%) rotate(45deg);
      }
    }
  }
}
