
.main-nav {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--accent);

  z-index: 101;

  &.active {
    display: block;
  }

  &__container {
    position: relative;
    max-width: 1920px;
    padding: 0;
    display: flex;
  }

  &__closer {
    @extend .btn-reset;
    @extend .flex-centered-content;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 101;

    svg {
      fill: var(--accent);
    }
  }

  &__section {
    @extend .flex-column;

    outline: 1px solid red;
    width: calc(100% / 3);
    height: 100vh;
    min-height: 100vh;
    padding: 30px;

    overflow: hidden;
    overflow-y: auto;

    &--blue {

    }

    &--gray {
      background-color: var(--light);
    }

    &--white {
      background-color: var(--white);
    }

    &--gray,
    &--white {
      .main-nav__list-item {
        a {
          color: var(--accent);
        }
      }
  }

    &-header {
      display: flex;
      min-height: 120px;
      margin-bottom: 40px;
      outline: 1px solid red;

      padding-top: 20px;

      & > span {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: var(--accent);
      }
    }

    &-body {
      @extend .flex-column;
      flex-grow: 1;

      .head-nav {
        &__list {
          @extend .flex-column;
          margin: 0;
          margin-bottom: 30px;

          &-item {
            a {
              font-size: 14px;
              font-weight: 500;
              padding: 5px 0;
              width: fit-content;
              text-transform: initial;
              color: #e0e0e0;
            }
          }
        }

        &__inner-list {
          background-color: transparent;


        }
      }

      .header-contacts {
        display: flex !important;
        margin-top: auto;

        &__field {
          a {
            color: var(--white);
          }

          svg {
            fill: var(--white);
          }

          margin-bottom: 20px;
        }
      }
    }
  }

  &__list {
    @extend .list-reset;
    margin-bottom: 20px;
  }

  &__list-item {
    display: flex;
    align-items: center;

    a {
      @extend .flex-wrap;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      padding: 10px 0;
      color: var(--gray);

      span {
        display: inline-block;
        margin-right: auto;
      }
    }
  }


}

/*.main-nav {
  outline: 1px solid red;
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--accent);

  z-index: 101;

  &__closer {
    @extend .btn-reset;
    @extend .flex-centered-content;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 101;

    svg {
      fill: var(--accent);
    }
  }

  &__container {
    position: relative;
    max-width: 1920px;
    padding: 0;
  }

  &.active {
    display: flex;
  }

  &__field {
    position: relative;
    @extend .flex-column;

    padding: 30px;
    height: 100%;
    width: calc(100% / 3);

    &--inner {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;

      .main-nav__field-header {
        padding-top: 20px;

        & > span {
          display: inline-block;
          font-size: 20px;
          font-weight: 700;
          color: var(--accent);
        }
      }

      .main-nav__list-item a {
        color: var(--accent);
      }
    }

    &--gray {
      background-color: var(--light);
    }

    &--white {

      background-color: var(--white);

      @include m-b-desktop-lg-up {
        &::after {
          position: absolute;
          top: 0;
          left: 100%;
          content: '';
          width: 100vw;
          height: 100%;
          background-color: var(--white);
        }
      }
    }

    &-header {
      display: flex;
      min-height: 120px;
      margin-bottom: 40px;
    }
  }

  &__list {
    @extend .list-reset;
    margin-bottom: 50px;
  }

  &__list-item {
    display: flex;
    align-items: center;

    a {
      @extend .flex-wrap;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      width: 100%;
      padding: 10px 15px;
      color: var(--gray);

      span {
        display: inline-block;
        padding-right: 20px;
        margin-right: auto;
      }
    }
  }

  .head-nav {
    &__list {
      @extend .flex-column;
      margin: 0;

      &-item {
        a {
          font-size: 14px;
          font-weight: 500;

          text-transform: initial;
          color: #e0e0e0;
        }
      }
    }

    &__inner-list {
      background-color: transparent;


    }
  }

  .header-contacts {
    display: flex !important;
    margin-top: auto;

    &__field {
      a {
        color: var(--white);
      }

      svg {
        fill: var(--white);
      }

      margin-bottom: 20px;
    }
  }
}*/
