
.main-nav {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--accent);

  z-index: 101;

  &.active {
    display: block;

    .main-nav__section {
      opacity: 1;
      &:nth-of-type(2) {
        transform: translateX(0);
      }

      &:nth-of-type(3) {
        transform: translateX(0);
      }
    }
  }

  &__container {
    position: relative;
    max-width: 1920px;
    padding: 0;
    display: flex;

    @include m-b-desktop-lg-up {
      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        width: 50vw;
        height: 100%;
        background-color: var(--white);
      }
    }
  }

  &-closer {
    @extend .btn-reset;
    @extend .flex-centered-content;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 101;

    svg {
      fill: var(--accent);
    }
  }

  &__section {
    @extend .flex-column;

    width: calc(100% / 3);
    height: 100vh;
    min-height: 100vh;
    padding: 30px;

    overflow: hidden;
    overflow-y: auto;

    &--blue {
      background-color: var(--blue);
    }

    &--gray {
      background-color: var(--light);
    }

    &--white {
      background-color: var(--white);
    }

    &--gray,
    &--white {
      .main-nav__list-item {
        a {
          color: var(--accent);

          &::after {
            border-color: var(--accent);
          }
        }
      }
    }

    &:nth-of-type(2) {
      transform: translateX(-100%);
      z-index: 2;
    }

    &:nth-of-type(3) {
      transform: translateX(-200%);
      z-index: 1;
    }

    &-header {
      display: flex;
      min-height: 120px;
      margin-bottom: 40px;

      padding-top: 20px;

      & > span {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: var(--accent);
      }
    }

    &-body {
      @extend .flex-column;
      flex-grow: 1;

      .head-nav {
        &__list {
          @extend .flex-column;
          margin: 0;
          margin-bottom: 30px;

          &-item {
            a {
              font-size: 14px;
              font-weight: 500;
              padding: 5px 0;
              width: fit-content;
              text-transform: initial;
              color: #e0e0e0;
            }
          }
        }

        &__inner-list {
          background-color: transparent;


        }
      }

      .header-contacts {
        display: flex !important;
        margin-top: auto;

        &__field {
          a {
            color: var(--white);
          }

          svg {
            fill: var(--white);
          }

          margin-bottom: 20px;
        }
      }
    }
  }

  &__list {
    @extend .list-reset;
    margin-bottom: 20px;
  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: center;

    @include m-b-laptop-down {
      padding-right: 25px;
    }

    a {
      @extend .flex-wrap;
      align-items: center;
      font-weight: 500;
      font-size: 18px;
      padding: 5px 0;
      color: var(--gray);

      span {
        display: inline-block;
        margin-right: auto;
      }

      @include m-b-laptop-down {
        &::after {
          position: absolute;
          top: 8px;
          right: 0;
          content: "";
          width: 10px;
          height: 10px;
          border-top: 2px solid var(--white);
          border-right: 2px solid var(--white);
          transform: rotate(135deg);
        }
      }
    }
  }
}
