
.search {
  margin-right: 30px;

  @include m-b-laptop-down {
    display: none;
  }

  &__opener {
    @extend .btn-reset;
    @extend .flex-centered-content;
    @extend .hover-opacity;
    svg {
      fill: var(--accent);
    }
  }


}
