.worktime {
  @extend .flex-column;
  padding-right: 10px;

  span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark);

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
