.about {
  .intro {
    padding: 50px 0;
    min-height: 660px;

    background-image: url("../assets/img/fiz-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {
      display: flex;
      flex-direction: column;
      min-height: inherit;
    }

    &__content {
      margin-top: auto;

      h1 {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: var(--white);
      }

      p {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 500;
        max-width: 980px;
        margin-bottom: 25px;
        color: var(--white);
      }

      button {
        font-size: 20px;
        text-transform: uppercase;
        width: 100%;
        padding: 25px;
        max-width: 360px;
        letter-spacing: 0.02em;
      }
    }
  }

  .about {
    padding: 60px 0;
    h2 {
      font-size: 40px;
      line-height: 1.4;
      font-weight: 700;
      max-width: 860px;
      margin-bottom: 40px;
      color: var(--accent);
    }

    ul {
      @extend .list-reset;
      position: relative;
      padding-left: 30px;
      margin-bottom: 100px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        content: '';
        background-color: var(--accent);
      }

      li {
        font-size: 24px;
        line-height: 1.4;
        font-weight: 600;

        letter-spacing: -0.01em;
        margin-bottom: 15px;

        color: var(--darkgray);
      }
    }

    &__banner {
      background-color: var(--bg-gray);
      padding: 80px 0;

      &-wrapper {
        border: 5px solid var(--accent);
      }

      p {
        font-weight: 700;
        font-size: 48px;
        max-width: 660px;
        text-align: center;
        margin: 0 auto;
        padding: 80px 0;
        color: var(--accent);
      }
    }
  }

  .examples {
    padding: 60px 0;
    &__list {
      @extend .list-reset;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
    }
  }

  .features {
    padding: 60px 0;
    &__list {
      @extend .list-reset;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 25px;
      margin-bottom: 80px;

      li {
        @extend .flex-column;
        align-items: center;

        padding: 10px 0;

        img {
          width: 100%;
          max-width: 90px;
          height: 100%;
          max-height: 90px;
          object-fit: contain;
          margin-bottom: 20px;
        }

        p {
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          color: var(--darkgray);
        }
      }
    }

    &__banner {
      @extend .flex-column;
      align-items: center;
      background-color: var(--accent);

      &-text {
        display: inline-block;
        font-family: var(--secondary-font);
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 12px;
        color: var(--white);
        text-align: center;
      }

      span {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 40px;
        color: var(--light);
      }

      button {
        max-width: 300px;
        margin-bottom: 60px;
        font-size: 20px;
        font-weight: 600;
        color: var(--accent);
        text-transform: uppercase;
        background-color: var(--light);

        @extend .hover-opacity;
      }
    }
  }

  .services {

  }

  .service {
    &__header {
      @extend .flex-centered-content;
      width: 100%;
      min-height: 120px;
      margin-bottom: 40px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      h2 {
        font-size: 28px;
        color: var(--white);
      }
    }

    &__list {
      @extend .list-reset;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      margin-bottom: 40px;

      li {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        padding: 18px;
        min-height: 80px;
        color: var(--accent);
        background-color: var(--light);
      }

      li:nth-child(4n),
      li:nth-child(4n + 3) {
        border: 1px solid var(--light);
        background-color: transparent;
      }

    }
  }

  .advantages {
    padding: 60px 0;
    background-color: var(--bg-gray);

    .lw-subtitle {
      padding: 0 100px;
      span {
        color: var(--dark);
      }
    }

    &__list {
      @extend .list-reset;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 20px;

      li {
        @extend .flex-centered-content;
        font-weight: 600;
        font-size: 20px;
        padding: 20px;
        min-height: 260px;
        text-align: center;
        border: 1px solid transparent;
        border-color: transparent;
        background-color: var(--accent);
        color: var(--white);
      }

      li:nth-child(2),
      li:nth-child(4),
      li:nth-child(5),
      li:nth-child(7) {
        border-color: var(--light);
        background-color: var(--white);
        color: var(--dark);
      }
    }
  }
}
