<div class="bordered-banner">
  <div class="bordered-banner__content">
    <p>Наша практика и&nbsp;подход к&nbsp;задачам поможет вам</p>
  </div>
</div>

<!--<div class="bordered-banner">
  <div class="bordered-banner__content bordered-banner__content--italic">
      <p style="line-height:1.2;">
          Смелые идеи не рождаются, если вы оглядываетесь назад!
      </p>
      <p style="line-height:1.2;">
          Мы разрабатываем решения, которые приведут ваш бизнес туда, куда ему нужно, независимо от того, являетесь ли вы СТАРТАПОМ, МАЛЫМ, СРЕДНИМ бизнесом или ТИТАНОМ отрасли
      </p>
  </div>
</div>-->
