<div class="case-card">
  <div class="case-card__header">
    <h2>Lorem ipsum dolor sit amet consectetur.</h2>
  </div>

  <div class="case-card__body">
    <span class="case-card__judgment">394млн. рублей возвращено</span>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit:</p>

    <ul>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem ipsum, dolor sit amet consectetur adipisicing.</li>
      <li>Lorem, <a href="#">ipsum dolor.</a></li>
      <li>Lorem ipsum dolor sit.</li>
      <li>Lorem, ipsum dolor.</li>
      <li>Lorem, ipsum dolor.</li>
    </ul>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ipsum totam atque cumque dolorum ut eos autem accusamus cupiditate! Consectetur assumenda quaerat atque hic dolore laborum repellat quas harum amet!</p>

    <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illum error aliquam.</strong></p>

    <a href="#">Lorem ipsum.</a>
  </div>
</div>
