<ul class="footer-social__list">
    <li class="footer-social__list-item">
        <a class="hover-opacity" href="https://t.me/jobotk">
            <svg width="30" height="30">
                <use xlink:href="./assets/sprite.svg#icon-tg"></use>
            </svg>
        </a>
    </li>
    <li class="footer-social__list-item">
        <a class="hover-opacity" href="https://t.me/jobotk">
            <svg width="30" height="30">
                <use xlink:href="./assets/sprite.svg#icon-tg"></use>
            </svg>
        </a>
    </li>
    <li class="footer-social__list-item">
        <a class="hover-opacity" href="https://t.me/jobotk">
            <svg width="30" height="30">
                <use xlink:href="./assets/sprite.svg#icon-youtube"></use>
            </svg>
        </a>
    </li>
</ul>