<div class="footer-contact">
    <ul class="footer-contact__list">
        <li class="footer-contact__list-item">
            <a href="tel:+74951508014">
                <svg width="30" height="30">
                    <use xlink:href="./assets/sprite.svg#icon-phone"></use>
                </svg>
                <span>+7(495) 150-80-14</span>
            </a>
        </li>
        <li class="footer-contact__list-item">
            <a href="mailto:call@urcompany.org">
                <svg width="30" height="30">
                    <use xlink:href="./assets/sprite.svg#icon-mail"></use>
                </svg>
                <span>call@urcompany.org</span>
            </a>
        </li>
    </ul>
</div>