<nav class="footer-nav">
    <ul class="footer-nav__list">
        <li class="footer-nav__list-item">
            <a href="/migraczionnye-uslugi/">Миграционные услуги</a>
        </li>
        <li class="footer-nav__list-item">
            <a href="/legal-services/">Юридические услуги</a>
        </li>
        <li class="footer-nav__list-item">
            <a href="/tax-consulting/">Налоговые услуги</a>
        </li>
        <li class="footer-nav__list-item">
            <a href="/audit/">Аудиторские услуги</a>
        </li>
        <li class="footer-nav__list-item">
            <a href="/buhgalter/">Бухгалтерские услуги</a>
        </li>
        <li class="footer-nav__list-item">
            <a href="/czentr-razvitiya-biznesa-v-rossii/">Центр развития бизнеса в России</a>
        </li>
        <li class="footer-nav__list-item">
            <a href="/about/raskrytie-informaczii/">Раскрытие информации</a>
        </li>
    </ul>
</nav>