<nav class="header-nav">
  <ul class="header-nav__list">
    <li class="header-nav__list-item">
      <a href="#">Налоговые услуги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Юридические услуги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Аудиторские услуги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Бухгалтерские услуги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Миграционные услуги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Центр развития бизнеса в России</a>
    </li>
  </ul>
</nav>
