<nav class="head-nav">
  <ul class="head-nav__list">
    <li class="head-nav__list-item">
      <a href="contacts.html">Контакты</a>
    </li>
    <li class="head-nav__list-item head-nav__list-item--multilevel">
      <a href="#">О нас</a>

      <ul class="head-nav__inner-list">
        <li class="head-nav__inner-list-item">
          <a href="#">Раскрытие информации</a>
        </li>
      </ul>
    </li>
    <li class="head-nav__list-item">
      <a href="#">Новости</a>
    </li>
    <li class="head-nav__list-item">
      <a href="#">Статьи</a>
    </li>
    <li class="head-nav__list-item">
      <a href="#">Мероприятия</a>
    </li>
    <li class="head-nav__list-item">
      <a href="#">Услуги и цены</a>
    </li>
  </ul>
</nav>
