<nav class="header-nav">
  <ul class="header-nav__list">
    <li class="header-nav__list-item">
      <a href="#">Налоговые услуги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Юридические услсги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Аудиторские услсги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Бухгалтерские услсги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Миграционные услсги</a>
    </li>
    <li class="header-nav__list-item">
      <a href="#">Центр развития бизнеса в России</a>
    </li>
  </ul>
</nav>
