<div class="requisites">
  <div>
    <span>ООО&nbsp;<span> «ЮРКОМ»</span></span>
    <span>ИНН:&nbsp;<span> 7707400422</span></span>
    <span>КПП:&nbsp;<span> 771501001</span></span>
    <span>АДРЕС: <span>г.&nbsp;Москва, ул.&nbsp;Радио, д.&nbsp;24, корпус&nbsp;1, помещение&nbsp;VII</span></span>
  </div>
  <div>
    <span>ОГРН:&nbsp;<span> 5177746266430</span></span>
    <span>Р/&nbsp;С:<span> 40702810300000062365 в АО&nbsp; «РАЙФФАЙЗЕНБАНК» г.Москва</span></span>
    <span>К/&nbsp;С:<span> 30101810200000000700</span></span>
    <span>БИК&nbsp;<span> 044525700</span></span>
  </div>
  </div>
  