<div class="side-buttons">
  <a data-fancybox="" data-src="#contact" href="javascript:;" class="side-button side-button--call">
    <svg width="40" height="40">
      <use xlink:href="./assets/sprite.svg#icon-phone"></use>
    </svg>
    <span>Позвонить нам</span>
  </a>

  <a data-fancybox="" data-src="#callback" href="javascript:;" class="side-button side-button--mail">
    <svg width="40" height="40">
      <use xlink:href="./assets/sprite.svg#icon-mail"></use>
    </svg>
    <span>Написать нам</span>
  </a>
</div>
