<div class="social">
  <ul class="social__list">
      <li class="social__list-item">
          <a href="tel:+74951508014" aria-label="Позвонить">
            <svg width="40" height="40">
              <use xlink:href="./assets/sprite.svg#icon-phone-lg"></use>
            </svg>
          </a>
      </li>
      <li class="social__list-item">
          <a href="mailto:call@urcompany.org" aria-label="Написать на e-mail">
              <svg width="40" height="40">
                <use xlink:href="./assets/sprite.svg#icon-mail-lg"></use>
              </svg>
          </a>
      </li>
      <li class="social__list-item">
          <a href="#" aria-label="Написать в whatsapp">
            <svg width="40" height="40">
              <use xlink:href="./assets/sprite.svg#icon-whatsapp-lg"></use>
            </svg>
          </a>
      </li>
  </ul>
</div>
