.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-fluid-width);
  }

  &-section-offset {
    padding-top: 60px;
    margin-bottom: 40px;

    @include m-b-laptop-down {
      padding-top: 40px;
      margin-bottom: 40px;
    }

    @include m-b-tablet-lg-down {
      padding-top: 40px;
      margin-bottom: 30px;
    }

    @include m-b-mobile-lg-down {
      padding-top: 30px;
      margin-bottom: 30px;
    }

    @include m-b-down(420px) {
      padding-top: 20px;
      margin-bottom: 20px;
    }
  }

  &-title {
    font-size: 64px;
    margin: 0;
    margin-bottom: 40px;
    color: var(--accent);

    @include m-b-laptop-down {
      font-size: 48px;
      margin-bottom: 30px;
    }

    @include m-b-tablet-down {
      font-size: 36px;
      margin-bottom: 20px;
    }

    @include m-b-mobile-lg-down {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &-subtitle {
    display: inline-block;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    color: var(--accent);

    @include m-b-tablet-lg-down {
      font-size: 36px;
    }

    @include m-b-tablet-down {
      font-size: 28px;
      margin-bottom: 40px;
    }

    @include m-b-mobile-lg-down {
      font-size: 24px;
    }

    @include m-b-down(480px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &-main-text {

  }

  &-table-container {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 60px;
  }
}
