.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-fluid-width);
  }

  &-title {

  }

  &-subtitle {
    display: inline-block;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    color: var(--accent);
  }

  &-main-text {

  }

  &-table-container {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 60px;
  }
}
