/* flex*/

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/*text*/
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*scroll*/
.main-scroll {
  &::-webkit-scrollbar {
      background-color: var(--main-scrollbar-color);
      width: var(--main-scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: var(--main-scrollbar-thumb-color);
  }
}

/*resets*/
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fieldset-reset {
  margin: 0;
  padding: 0;
  border: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #ffffff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/*elements*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/*transitions*/
.hover-opacity {
  transition: opacity var(--main-transition);

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

/*container*/
.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @include m-b-desktop-lg-down {
    padding: 0 30px;
  }

  @include m-b-tablet-down {
    padding: 0 20px;
  }

  @include m-b-mobile-lg-down {
    padding: 0 15px;
  }
}

/*btns*/

.main-btn {
  @extend .flex-centered-content;
  @extend .btn-reset;
  padding: 10px 40px;

  font-size: 14px;
  font-weight: 500;
  width: 100%;
  min-width: fit-content;
  min-height: 60px;

  background-color: var(--accent);
  color: var(--white);

  &--iconed {
    padding-left: 10px;
    svg {
      margin-right: 10px;
      fill: var(--white);
    }
  }

  &--outlined {
    border: 1px solid var(--white);
    background-color: transparent;

    transition: color var(--main-transition), background-color var(--main-transition);

    &:hover,
    &:focus {
      color: var(--accent);
      background-color: var(--white);
    }
  }

  &--danger {
    background-color: var(--danger);
  }

  &--bordered {
    position: relative;

    &::before {
      position: absolute;
      top: -10px;
      left: -10px;

      content: '';
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      background-color: transparent;
      border: 1px solid var(--white);
    }

    @extend .hover-opacity;
  }

}
