<footer class="footer">
  <div class="lw-container footer__container">
    <div class="footer__logo">
      @include('../components/logo.html')
    </div>

    <div class="footer__content">
      <div class="footer__content-part footer__content-part--left">
        @include('../components/contacts.html')
        @include('../components/social.html')
      </div>

      <div class="footer__content-part footer__content-part--middle">
        @include('../components/footer-nav.html')
      </div>

      <div class="footer__content-part footer__content-part--right">
        <button class="main-btn main-btn--outlined">Связаться с нами</button>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-part footer__bottom-part--left"><span>© 2023 Все права защищены, копирование преследуется по закону</span></div>
      <div class="footer__bottom-part footer__bottom-part--middle"><a href="/privacy-policy/">Политика конфиденциальности</a></div>
      <div class="footer__bottom-part footer__bottom-part--right"><a href="/sitemap/">Карта сайта</a></div>
    </div>
  </div>

  @include('../components/side-buttons.html')
</footer>


