<header class="header">
  <div class="header__top">
    <div class="container">
      @include('../components/head-nav.html')
    </div>
  </div>
  <div class="header__middle">
    <div class="container header__middle-container">
      <div class="header__logo">
        @include('../components/logo.html')
      </div>

      @include('../components/search.html')

      @include('../components/contacts.html')

      @include('../components/header-worktime.html')

      @include('../components/social.html')

      @include('../components/burger.html')

    </div>
  </div>

  <div class="header__bottom">
    <div class="container header__bottom-container">
      @include('../components/burger.html')
      @include('../components/header-nav.html')
    </div>
  </div>

  @include('../components/main-nav.html')
</header>
