<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
  <title>urCompanySiteTemplate</title>
  <meta name="description" content="Бухгалтерское обслуживание юридических лиц в Москве: бухгалтерский учет для ИП и ООО. Квалифицированные специалисты, профессиональные бухгалтерские услуги по договору. Звоните: +7(495) 150-80-14.">
  <link rel="stylesheet" href="assets/main.css">
  <script defer src="assets/bundle.js"></script>
</head>
