.requisites-section {
    @extend .lw-section-offset;

    &__feedback {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        max-width: 100%;

        @include m-b-tablet-lg-down {
          grid-template-columns: 1fr;
        }
    }
    .requisites-data {
        display: flex;
        padding: 10px;
        svg {
            padding-top: 5px;
        }

        & > div {
            padding: 0 10px;
            @extend .flex-column;
            gap: 15px;
            & > span {
                font-size: 24px;
                font-weight: 700;
                color: var(--accent);
            }
        }
    }
    .connection {
        @extend .flex-column;
        padding: 10px;
        gap: 15px;
        span {
            font-size: 24px;
            font-weight: 700;
            color: var(--accent);
        }
        .form {
            @extend .flex-column;
            gap: 15px;
            &__input {
                outline: 1px solid red;    
                padding: 40px 0;
                text-align: center;
            }
        }
        .checkbox-custom {
            input[type="checkbox"] {
              display: none;
            }
          
            label {
              position: relative;
              display: block;
              padding-left: 25px;
              cursor: pointer;
          
              &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border: 2px solid var(--accent);
                content: '';
          
                background-color: var(--white);
              }
            }
          
            input[type="checkbox"]:checked + label::before {
          
              background-image: url("../assets/img/icon-check.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
    }
    .attention {
      padding: 15px; 
      font-size: 16px;
      font-weight: 500;
      color: var(--accent);

      &::before {
        content: "*";
        color: #e9573f;
        width: 20px;
        height: 20px;
    }  
    }
}